<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Asia Building</string>
		<key>Photo</key>
		<string>AsiaBuilding</string>
		<key>URL</key>
		<string>Asia_Building</string>
		<key>SearchAddress</key>
		<string>中山东一路1号</string>
		<key>Latitude</key>
		<real>31.233497</real>
		<key>Longitude</key>
		<real>121.491408</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>Shanghai Club</string>
		<key>Photo</key>
		<string>ShanghaiClub</string>
		<key>URL</key>
		<string>Shanghai_Club_Building</string>
		<key>SearchAddress</key>
		<string>上海总会</string>
		<key>Latitude</key>
		<real>31.233786</real>
		<key>Longitude</key>
		<real>121.490957</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>Union Building</string>
		<key>Photo</key>
		<string>UnionBuilding</string>
		<key>URL</key>
		<string>Union_Building,_Shanghai</string>
		<key>SearchAddress</key>
		<string>中山东一路3号</string>
		<key>Latitude</key>
		<real>31.234126</real>
		<key>Longitude</key>
		<real>121.490799</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>Nissin Building</string>
		<key>Photo</key>
		<string>NissinBuilding</string>
		<key>URL</key>
		<string>Nissin_Building</string>
		<key>SearchAddress</key>
		<string>日清大楼</string>
		<key>Latitude</key>
		<real>31.234472</real>
		<key>Longitude</key>
		<real>121.490816</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>China Merchants Bank Building</string>
		<key>Photo</key>
		<string>CMBBuilding</string>
		<key>URL</key>
		<string>China_Merchants_Bank_Building</string>
		<key>SearchAddress</key>
		<string>外滩6号</string>
		<key>Latitude</key>
		<real>31.234733</real>
		<key>Longitude</key>
		<real>121.490539</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>Great Northern Telegraph Building</string>
		<key>Photo</key>
		<string>GNTBuilding</string>
		<key>URL</key>
		<string>Great_Northern_Telegraph_Building</string>
		<key>SearchAddress</key>
		<string>中山东一路7号</string>
		<key>Latitude</key>
		<real>31.235088</real>
		<key>Longitude</key>
		<real>121.490421</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>HSBC Building</string>
		<key>Photo</key>
		<string>HSBCBuilding</string>
		<key>URL</key>
		<string>HSBC_Building,_the_Bund</string>
		<key>SearchAddress</key>
		<string>上海中山东一路12号</string>
		<key>Latitude</key>
		<real>31.236047</real>
		<key>Longitude</key>
		<real>121.489886</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>Customs House</string>
		<key>Photo</key>
		<string>CustomsHouse</string>
		<key>URL</key>
		<string>Customs_House,_Shanghai</string>
		<key>SearchAddress</key>
		<string>上海中山东一路13号</string>
		<key>Latitude</key>
		<real>31.236688</real>
		<key>Longitude</key>
		<real>121.489934</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bank of Communications Building</string>
		<key>Photo</key>
		<string>BoCBuilding</string>
		<key>URL</key>
		<string>Bank_of_Communications_Building</string>
		<key>SearchAddress</key>
		<string>中山东一路14号</string>
		<key>Latitude</key>
		<real>31.23714</real>
		<key>Longitude</key>
		<real>121.489988</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>Russo-Chinese Bank Building</string>
		<key>Photo</key>
		<string>RCBBuilding</string>
		<key>URL</key>
		<string>Russo-Chinese_Bank_Building</string>
		<key>SearchAddress</key>
		<string>中山东一路15号</string>
		<key>Latitude</key>
		<real>31.237664</real>
		<key>Longitude</key>
		<real>121.489896</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bank of Taiwan Building</string>
		<key>Photo</key>
		<string>BoTBuilding</string>
		<key>URL</key>
		<string>Bank_of_Taiwan_Building</string>
		<key>SearchAddress</key>
		<string>中山东一路16号</string>
		<key>Latitude</key>
		<real>31.237971</real>
		<key>Longitude</key>
		<real>121.489722</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>North China Daily News Building</string>
		<key>Photo</key>
		<string>NCDNBuilding</string>
		<key>URL</key>
		<string>North_China_Daily_News_Building</string>
		<key>SearchAddress</key>
		<string>中山东一路17号</string>
		<key>Latitude</key>
		<real>31.238166</real>
		<key>Longitude</key>
		<real>121.489713</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>Peace Hotel</string>
		<key>Photo</key>
		<string>PeaceHotel</string>
		<key>URL</key>
		<string>Peace_Hotel</string>
		<key>SearchAddress</key>
		<string>中山东一路20号</string>
		<key>Latitude</key>
		<real>31.239151</real>
		<key>Longitude</key>
		<real>121.489719</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bank of China Building</string>
		<key>Photo</key>
		<string>BoChBuilding</string>
		<key>URL</key>
		<string>Bank_of_China_Building,_Shanghai</string>
		<key>SearchAddress</key>
		<string>中国银行上海市分行</string>
		<key>Latitude</key>
		<real>31.239521</real>
		<key>Longitude</key>
		<real>121.489781</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>Yokohama Specie Bank Building</string>
		<key>Photo</key>
		<string>YSBBuilding</string>
		<key>URL</key>
		<string>Yokohama_Specie_Bank_Building</string>
		<key>SearchAddress</key>
		<string>中山东一路24号</string>
		<key>Latitude</key>
		<real>31.23985</real>
		<key>Longitude</key>
		<real>121.48972</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>Yangtze Insurance Building</string>
		<key>Photo</key>
		<string>YIBuilding</string>
		<key>URL</key>
		<string>Yangtze_Insurance_Building</string>
		<key>SearchAddress</key>
		<string>中山东一路26号</string>
		<key>Latitude</key>
		<real>31.240053</real>
		<key>Longitude</key>
		<real>121.489812</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>Jardine Matheson Building</string>
		<key>Photo</key>
		<string>JMBuilding</string>
		<key>URL</key>
		<string>Jardine_Matheson_Building</string>
		<key>SearchAddress</key>
		<string>中山东一路27号</string>
		<key>Latitude</key>
		<real>31.240421</real>
		<key>Longitude</key>
		<real>121.489898</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>Former Consulate-General of the United Kingdom</string>
		<key>Photo</key>
		<string>FCGUK</string>
		<key>URL</key>
		<string>Former_Consulate-General_of_the_United_Kingdom,_Shanghai</string>
		<key>SearchAddress</key>
		<string>中山东一路32号</string>
		<key>Latitude</key>
		<real>31.241319</real>
		<key>Longitude</key>
		<real>121.48911</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>Gutzlaff Signal Tower</string>
		<key>Photo</key>
		<string>GSTower</string>
		<key>URL</key>
		<string>Gutzlaff_Signal_Tower</string>
		<key>SearchAddress</key>
		<string>外滩天文台</string>
		<key>Latitude</key>
		<real>31.233133</real>
		<key>Longitude</key>
		<real>121.492273</real>
	</dict>
</array>
</plist>
